@keyframes wiggle {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

.animated-box {
  position: absolute;
  animation: moveDesktop 8s linear infinite;
}

/* Desktop Animation */
@keyframes moveDesktop {
  0% {
    top: 34px;
    right: 79%;
  }
  20% {
    top: 34px;
    right: 20px;
  }
  40% {
    top: 59%;
    right: 20px;
  }
  60% {
    top: 59%;
    right: 79%;
  }
  80% {
    top: 32%;
    right: 41%;
  }
  100% {
    top: 34px;
    right: 79%;
  }
}

@keyframes moveDesktopSmall {
  0% {
    top: 34px;
    right: 74%;
  }
  20% {
    top: 34px;
    right: 20px;
  }
  40% {
    top: 59%;
    right: 20px;
  }
  60% {
    top: 59%;
    right: 74%;
  }
  80% {
    top: 32%;
    right: 36%;
  }
  100% {
    top: 34px;
    right: 74%;
  }
}

@keyframes moveForLarge {
  0% {
    top: 34px;
    right: 66%;
  }
  20% {
    top: 34px;
    right: 20px;
  }
  40% {
    top: 59%;
    right: 20px;
  }
  60% {
    top: 59%;
    right: 66%;
  }
  80% {
    top: 32%;
    right: 33%;
  }
  100% {
    top: 34px;
    right: 66%;
  }
}

/* Tablet Animation */
@keyframes moveTablet {
  0% {
    top: 32px;
    right: 77%;
  }
  20% {
    top: 32px;
    right: 20px;
  }
  40% {
    top: 59%;
    right: 20px;
  }
  60% {
    top: 59%;
    right: 77%;
  }
  80% {
    top: 32%;
    right: 41%;
  }
  100% {
    top: 32px;
    right: 77%;
  }
}

/* Mobile Animation */
@keyframes moveMobile {
  0% {
    top: 32px;
    right: 60%;
  }
  20% {
    top: 32px;
    right: 20px;
  }
  40% {
    top: 59%;
    right: 20px;
  }
  60% {
    top: 59%;
    right: 60%;
  }
  80% {
    top: 32%;
    right: 30%;
  }
  100% {
    top: 32px;
    right: 60%;
  }
}

@media (max-width: 1440px) {
  .animated-box {
    animation: moveDesktopSmall 7s linear infinite;
  }
}

@media (max-width: 1024px) {
  .animated-box {
    animation: moveForLarge 7s linear infinite;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .animated-box {
    animation: moveTablet 7s linear infinite;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .animated-box {
    animation: moveMobile 7s linear infinite;
  }
}

@keyframes rotateStep {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-popUp {
  animation: popUp 2s infinite ease-out forwards;
}

.scroll::-webkit-scrollbar {
  display: none;
}
